.app-container {
	background-color: #070a0d;

	height: 100vh;
}

h1 {
	color: #bf2441;
}

.card {
	width: 50%;
	position: relative;
	left: 25%;
	top: 25%;
	padding: 1rem;
	box-shadow: 1px 2px 5px 1px #ddd;
	background-color: #000;
	height: 50%;
}
